h2{
    color: red;
    margin: 0;
}

.form-group {
    display: flex;
    align-items: center; 
    margin-left: 150px;
    margin-bottom: 5px; 
}

.form-group label {
    flex-basis: 100px;
    text-align: right;  
    margin-right: 10px;  
}
